body {
    background-image: url("https://m.media-amazon.com/images/S/pv-target-images/2ec875a0c2b336ba59afe082786293163cb797807440abaa9a5fa39e5cb4fe6f.jpg");
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
}

.r2 {
    width: 100%;
    height: 10%;
}

.c24 {
    width: 4.1%;
    height: 100%;
    position: relative;
    float: left;
}

.Titel {
    text-align: center;
    font-size: 5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.125px;
}

.E {
    text-align: center;
    font-size: 0.95em;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Pixelify Sans", sans-serif;
}

.E1 {
    text-align: center;
    font-size: 0.95em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Pixelify Sans", sans-serif;
}

.Home {
    text-align: center;
    font-size: 1em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}
